# nvim: also tracked by vim-plug
config/nvim/autoload/
# nvim: tracked by vim-plug
config/nvim/plugged/
# nvim: tracked by packer
local/share/nvim/site/pack/packer/start/*
local/share/nvim/site/pack/packer/opt/
# nvim: spelling is ignore for the time being
config/nvim/spell/
# nvim: same with undoing
config/nvim/undodir/

# zsh: history, completion, etc
config/zsh/.zcompdump
config/zsh/.zcompcache
config/zsh/.zhistory
config/zsh/.zsh_sessions

# zsh: ignore iterm2 shell integration files
config/zsh/.iterm2
config/zsh/.iterm2_shell_integration.zsh

# tmux: ignore the plugins, except the one in submodules
config/tmux/plugins/
!config/tmux/plugins/tpm
